.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #d8d8d8;
    padding: 1.5rem;
    border-radius: 30px;
    height: 65vh;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #222;
}